*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: Montserrat;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1430px;
  margin: 0px auto;
  padding: 0px 15px;
  color: black;
}

.title {
  color: #000;
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .title {
    font-size: 40px;
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.header {
  background-color: #000;
}
.header__container {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__item {
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__item:hover {
  color: #f5df97;
}
.header__item.active {
  color: #F7CE47;
}
.header__button {
  cursor: pointer;
  width: 225px;
  height: 70px;
  border-radius: 30px;
  background: #0A2FD6;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__button:hover {
  background-color: #0b38ff;
}

@media (max-width: 890px) {
  .header__nav {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__logo-image {
    width: 150px;
    height: auto;
  }
  .header__button {
    width: 175px;
    height: 50px;
  }
}
@media (max-width: 767.99px) {
  .header {
    height: 110px;
  }
  .header__nav, .header__button {
    display: none;
  }
}
.customize {
  background-color: #000;
  padding-top: 60px;
  padding-bottom: 100px;
}
.customize__container {
  text-align: center;
  position: relative;
}
.customize__title {
  font-size: 50px;
  font-weight: 900;
  line-height: 150%;
  margin-bottom: 21px;
  color: #FFF;
}
.customize__sub-title {
  font-weight: 300;
  line-height: 160%;
  margin-bottom: 53.5px;
  color: #C6C6C6;
}
.customize__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customize__button {
  cursor: pointer;
  width: 225px;
  height: 70px;
  border-radius: 30px;
  color: #FFF;
}
.customize__get-started {
  position: relative;
  background: #0A2FD6;
  font-weight: 700;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.customize__get-started:hover {
  background-color: #0b38ff;
}
.customize__get-started::before {
  cursor: auto;
  content: "";
  position: absolute;
  top: 200%;
  left: -400%;
  background-image: url("./../images/animation/arrow.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  -webkit-animation: arrow 0.7s forwards;
          animation: arrow 0.7s forwards;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
@-webkit-keyframes arrow {
  0% {
    top: 200%;
    left: -400%;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    top: 50px;
    left: -240px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes arrow {
  0% {
    top: 200%;
    left: -400%;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    top: 50px;
    left: -240px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.customize__questions {
  position: relative;
  background: transparent;
  font-weight: 400;
  border: 1px solid #7E7E7E;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.customize__questions:hover {
  background-color: #3d3d3d;
}
.customize__questions::after {
  cursor: auto;
  content: "";
  position: absolute;
  top: 200%;
  left: 400%;
  background-image: url("./../images/animation/certified.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 240px;
  height: 240px;
  -webkit-animation: certified 0.7s forwards;
          animation: certified 0.7s forwards;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
@-webkit-keyframes certified {
  0% {
    top: 200%;
    left: 400%;
  }
  100% {
    top: -100px;
    left: 350px;
  }
}
@keyframes certified {
  0% {
    top: 200%;
    left: 400%;
  }
  100% {
    top: -100px;
    left: 350px;
  }
}
.customize__gears {
  position: absolute;
  top: 0;
  left: 0;
}
.customize__gears-wrapper {
  position: relative;
}
.customize__gears-img {
  position: absolute;
  top: 0;
  left: 0;
}
.customize__gears-img:nth-child(1) {
  left: -400px;
  -webkit-animation: gearsStart1 1s forwards;
          animation: gearsStart1 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.customize__gears-img:nth-child(1).animated {
  left: 0px;
}
.customize__gears-img:nth-child(2) {
  left: -300px;
  -webkit-animation: gearsStart2 1s forwards;
          animation: gearsStart2 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.customize__gears-img:nth-child(2).animated {
  left: 100px;
}
.customize__gears-img:nth-child(3) {
  left: -325px;
  top: 75px;
  -webkit-animation: gearsStart3 1s forwards;
          animation: gearsStart3 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.customize__gears-img:nth-child(3).animated {
  left: 75px;
  top: 75px;
}
.customize__gears-img:nth-child(4) {
  left: -400px;
  top: 100px;
  -webkit-animation: gearsStart4 1s forwards;
          animation: gearsStart4 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.customize__gears-img:nth-child(4).animated {
  top: 100px;
  left: 0px;
}
@-webkit-keyframes gears {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes gears {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes gearsStart1 {
  0% {
    left: -400px;
  }
  100% {
    left: 0;
  }
}
@keyframes gearsStart1 {
  0% {
    left: -400px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes gearsStart2 {
  0% {
    left: -300px;
  }
  100% {
    left: 100px;
  }
}
@keyframes gearsStart2 {
  0% {
    left: -300px;
  }
  100% {
    left: 100px;
  }
}
@-webkit-keyframes gearsStart3 {
  0% {
    left: -325px;
    top: 75px;
  }
  100% {
    left: 75px;
    top: 75px;
  }
}
@keyframes gearsStart3 {
  0% {
    left: -325px;
    top: 75px;
  }
  100% {
    left: 75px;
    top: 75px;
  }
}
@-webkit-keyframes gearsStart4 {
  0% {
    left: -400px;
    top: 100px;
  }
  100% {
    left: 0;
    top: 100px;
  }
}
@keyframes gearsStart4 {
  0% {
    left: -400px;
    top: 100px;
  }
  100% {
    left: 0;
    top: 100px;
  }
}

.gallery {
  background-color: #000;
  padding-bottom: 60px;
}
.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 300px;
  -webkit-animation: gallery 1s forwards;
          animation: gallery 1s forwards;
}
@-webkit-keyframes gallery {
  0% {
    gap: 300px;
  }
  100% {
    gap: 30px;
  }
}
@keyframes gallery {
  0% {
    gap: 300px;
  }
  100% {
    gap: 30px;
  }
}
.gallery__image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.gallery__image:not(:last-child) {
  margin-bottom: 15px;
}
.gallery__column {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery__column:nth-child(2) {
  width: 45%;
}
.gallery__column:nth-child(2) .gallery__image {
  width: 100%;
}

@media (max-width: 1186px) {
  .customize__questions::after {
    display: none;
  }
  .customize__gears {
    top: 200px;
  }
  .customize__gears-img {
    width: 50px;
  }
  .customize__gears-img.animated:nth-child(1) {
    left: 20px;
    top: 20px;
  }
  @-webkit-keyframes gearsStart1 {
    0% {
      left: -400px;
    }
    100% {
      left: 20px;
      top: 20px;
    }
  }
  @keyframes gearsStart1 {
    0% {
      left: -400px;
    }
    100% {
      left: 20px;
      top: 20px;
    }
  }
  @-webkit-keyframes gearsStart2 {
    0% {
      left: -300px;
    }
    100% {
      left: 80px;
      top: 20px;
    }
  }
  @keyframes gearsStart2 {
    0% {
      left: -300px;
    }
    100% {
      left: 80px;
      top: 20px;
    }
  }
  @-webkit-keyframes gearsStart3 {
    0% {
      left: -325px;
      top: 75px;
    }
    100% {
      left: 75px;
      top: 75px;
    }
  }
  @keyframes gearsStart3 {
    0% {
      left: -325px;
      top: 75px;
    }
    100% {
      left: 75px;
      top: 75px;
    }
  }
  @-webkit-keyframes gearsStart4 {
    0% {
      left: -400px;
      top: 100px;
    }
    100% {
      left: 10px;
      top: 80px;
    }
  }
  @keyframes gearsStart4 {
    0% {
      left: -400px;
      top: 100px;
    }
    100% {
      left: 10px;
      top: 80px;
    }
  }
}
@media (max-width: 961px) {
  .customize__get-started::before {
    width: 150px;
    height: 100px;
    background-size: 100%;
    background-position: right;
  }
  .customize__gears {
    display: none;
  }
  @-webkit-keyframes arrow {
    0% {
      top: 200%;
      left: -400%;
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg);
    }
    100% {
      top: 0px;
      left: -160px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes arrow {
    0% {
      top: 200%;
      left: -400%;
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg);
    }
    100% {
      top: 0px;
      left: -160px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
}
@media (max-width: 930px) {
  .customize__title {
    font-size: 35px;
  }
  .customize__sub-title {
    margin-bottom: 25px;
  }
  .customize__button {
    width: 180px;
    height: 50px;
    font-size: 16px;
  }
  .customize__get-started::before {
    width: 120px;
    height: 100px;
  }
}
@media (max-width: 767.98px) {
  .customize {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .gallery__column {
    width: 50%;
  }
  .gallery__column:nth-child(2) {
    display: none;
  }
}
@media (max-width: 700px) {
  .customize__get-started::before {
    display: none;
  }
}
@media (max-width: 675px) {
  .customize__title {
    font-size: 27px;
  }
  .customize__sub-title {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  .customize__title {
    font-size: 23px;
  }
  .customize__sub-title {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .customize__title {
    font-size: 20px;
  }
  .customize__sub-title {
    font-size: 12px;
  }
  .customize__button {
    font-size: 14px;
  }
  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__column {
    width: 100%;
  }
}
.partners {
  padding-top: 70px;
  padding-bottom: 112px;
  background-color: #F8FAFB;
}
.partners.active .partners__items {
  -webkit-animation: partners 1s forwards;
          animation: partners 1s forwards;
}
.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__items {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 853px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@-webkit-keyframes partners {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes partners {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.partners__title {
  font-weight: 700;
  color: #8C94A2;
  font-size: 16px;
}

@media (max-width: 1170px) {
  .partners__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 960px) {
  .partners__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners__title {
    width: 40%;
  }
}
@media (max-width: 767.98px) {
  .partners {
    padding-bottom: 60px;
  }
  .partners__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .partners__title {
    width: 100%;
  }
  .partners__items {
    width: 100%;
    gap: 20px;
  }
}
.why {
  background-color: #F8FAFB;
}
.why__container {
  text-align: center;
}
.why__title {
  margin-bottom: 40px;
}
.why__sub-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}
.why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin-bottom: 107px;
}
.why__items.active .why__item:nth-child(1) {
  -webkit-animation: why1 1s forwards;
          animation: why1 1s forwards;
}
.why__items.active .why__item:nth-child(3) {
  -webkit-animation: why2 1s forwards;
          animation: why2 1s forwards;
}
.why__item {
  width: 29%;
  position: relative;
  padding: 20px;
  border-radius: 30px;
  background-color: #fff;
}
.why__item-image {
  -webkit-box-shadow: 0px 5.4455447197px 27.2277240753px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5.4455447197px 27.2277240753px 0px rgba(0, 0, 0, 0.15);
  width: 65px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 27px;
}
.why__item-title {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 600;
}
.why__item-sub-title {
  font-size: 17px;
  font-weight: 300;
}
.why__item:nth-child(1) {
  -webkit-transform: translateX(124%);
      -ms-transform: translateX(124%);
          transform: translateX(124%);
}
.why__item:nth-child(3) {
  -webkit-transform: translateX(-124%);
      -ms-transform: translateX(-124%);
          transform: translateX(-124%);
}
@-webkit-keyframes why1 {
  0% {
    -webkit-transform: translateX(124%);
            transform: translateX(124%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes why1 {
  0% {
    -webkit-transform: translateX(124%);
            transform: translateX(124%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes why2 {
  0% {
    -webkit-transform: translateX(-124%);
            transform: translateX(-124%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes why2 {
  0% {
    -webkit-transform: translateX(-124%);
            transform: translateX(-124%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1070px) {
  .why__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .why__item {
    width: 310px;
  }
  .why__item-image {
    margin-bottom: 10px;
  }
  .why__item-title {
    font-size: 23px;
  }
  .why__item-sub-title {
    font-size: 15px;
  }
}
@media (max-width: 767.98px) {
  .why__title {
    margin-bottom: 15px;
  }
}
@media (max-width: 679px) {
  .why__item {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .why__sub-title {
    font-size: 20px;
  }
}
.offer {
  margin: 100px 0;
}
.offer__container {
  text-align: center;
}
.offer__sub-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}
.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}
.offer__items.active .offer__item:nth-child(3) {
  -webkit-animation: offer3 1s forwards;
          animation: offer3 1s forwards;
}
.offer__items.active .offer__item:nth-child(4) {
  -webkit-animation: offer2 1s forwards;
          animation: offer2 1s forwards;
}
.offer__item {
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  background-color: rgb(254, 254, 254);
  padding: 10px;
  border-radius: 20px;
}
.offer__item-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}
.offer__item-text {
  line-height: 150%;
}
.offer__item-image {
  -webkit-box-shadow: 0px 8.3333330154px 41.6666641235px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8.3333330154px 41.6666641235px 0px rgba(0, 0, 0, 0.15);
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.offer__item:nth-child(4) {
  -webkit-transform: translate(0, -140%);
      -ms-transform: translate(0, -140%);
          transform: translate(0, -140%);
}
.offer__item:nth-child(3) {
  -webkit-transform: translate(0, -140%);
      -ms-transform: translate(0, -140%);
          transform: translate(0, -140%);
}
@-webkit-keyframes offer2 {
  0% {
    -webkit-transform: translate(0, -140%);
            transform: translate(0, -140%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes offer2 {
  0% {
    -webkit-transform: translate(0, -140%);
            transform: translate(0, -140%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes offer3 {
  0% {
    -webkit-transform: translate(0, -140%);
            transform: translate(0, -140%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes offer3 {
  0% {
    -webkit-transform: translate(0, -140%);
            transform: translate(0, -140%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.offer__button {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  height: 70px;
  color: #0A2FD6;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #0A2FD6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.offer__button:hover {
  background-color: #0A2FD6;
  color: #fff;
}

@media (max-width: 767.98px) {
  .offer {
    margin: 40px 0;
  }
  .offer__title {
    margin-bottom: 15px;
  }
  .offer__item {
    width: 100%;
  }
  .offer__items {
    margin-bottom: 40px;
  }
  .offer__button {
    width: 250px;
    height: 50px;
  }
}
@media (max-width: 500px) {
  .offer__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__item-image {
    margin-bottom: 30px;
  }
  .offer__button {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .offer__sub-title {
    font-size: 20px;
  }
}
.solutions {
  padding: 100px 0;
  background-color: #F8FAFB;
}
.solutions.active .solutions__content {
  -webkit-animation: soltions-content 1s forwards;
          animation: soltions-content 1s forwards;
}
.solutions.active .solutions__image {
  -webkit-animation: soltions-image 1s forwards;
          animation: soltions-image 1s forwards;
}
.solutions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.solutions__content {
  width: 48%;
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
}
.solutions__title {
  margin-bottom: 50px;
}
.solutions__image {
  width: 526px;
  height: auto;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}
.solutions__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
}
@-webkit-keyframes soltions-content {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes soltions-content {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes soltions-image {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes soltions-image {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1080px) {
  .solutions__image {
    width: 50%;
  }
  .solutions__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .solutions__text {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .solutions {
    padding: 40px 0;
  }
}
@media (max-width: 660px) {
  .solutions__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 40px;
  }
  .solutions__content {
    width: 100%;
  }
  .solutions__image {
    width: 100%;
  }
}
.acumen {
  padding: 100px 0;
  background-color: #0E1011;
}
.acumen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.acumen__content {
  width: 52%;
}
.acumen__title {
  margin-bottom: 50px;
  color: #fff;
  font-size: 4vw;
}
.acumen__image {
  width: 496px;
  height: auto;
}
.acumen__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
  color: #fff;
  margin-bottom: 50px;
}
.acumen__button {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 225px;
  height: 70px;
  color: #fff;
  background-color: #0A2FD6;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.acumen__button:hover {
  background-color: #0b38ff;
}

@media (max-width: 1080px) {
  .acumen__image {
    width: 50%;
  }
  .acumen__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .acumen__text {
    font-size: 20px;
  }
}
@media (max-width: 893px) {
  .acumen__image {
    width: 40%;
  }
}
@media (max-width: 767.98px) {
  .acumen {
    padding: 40px 0;
  }
  .acumen__button {
    height: 50px;
  }
}
@media (max-width: 660px) {
  .acumen__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 40px;
  }
  .acumen__content {
    width: 100%;
  }
  .acumen__image {
    width: 70%;
  }
  .acumen__button {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .acumen__image {
    width: 100%;
  }
}
.clients {
  padding-top: 80px;
  padding-bottom: 400px;
  background-color: #F8FAFB;
}
.clients.active .clients__buttons {
  -webkit-animation: clients-buttons 1s forwards;
          animation: clients-buttons 1s forwards;
}
.clients.active .clients__title, .clients.active .clients__sub-title {
  -webkit-animation: clients-content 1s forwards;
          animation: clients-content 1s forwards;
}
.clients__title {
  -webkit-transform: translateX(-300%);
      -ms-transform: translateX(-300%);
          transform: translateX(-300%);
}
.clients__sub-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 67px;
  -webkit-transform: translateX(-300%);
      -ms-transform: translateX(-300%);
          transform: translateX(-300%);
}
.clients__container {
  position: relative;
}
.clients-slide {
  position: relative;
}
.clients-slide__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 175%;
  margin-bottom: 25px;
}
.clients-slide__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
}
.clients-slide__image {
  width: 60px;
  height: auto;
}
.clients-slide__name {
  color: #0E1011;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}
.clients-slide__work {
  color: #979797;
  font-size: 16px;
  font-weight: 500;
}
.clients-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: -31px;
  width: 1px;
  height: 100%;
  background-color: #AFB6C2;
}
.clients__buttons {
  top: 100px;
  right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translateX(500%);
      -ms-transform: translateX(500%);
          transform: translateX(500%);
}
@-webkit-keyframes clients-buttons {
  0% {
    -webkit-transform: translateX(800%);
            transform: translateX(800%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes clients-buttons {
  0% {
    -webkit-transform: translateX(800%);
            transform: translateX(800%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes clients-content {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes clients-content {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.clients__button {
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: blue;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}
.clients__button.swiper-button-disabled {
  background-color: inherit;
  border: 1px solid #0A2FD6;
}
.clients__button-prev {
  background-image: url("./../images/clients/enabled-arrow.svg");
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.clients__button-prev.swiper-button-disabled {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  background-image: url("./../images/clients/disabled-arrow.svg");
}
.clients__button-next {
  background-image: url("./../images/clients/enabled-arrow.svg");
}
.clients__button-next.swiper-button-disabled {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-image: url("./../images/clients/disabled-arrow.svg");
}

.clientsSwiper .clients-slide {
  width: 360px !important;
}

@media (max-width: 1199px) {
  .clients-slide::before {
    left: -20px;
  }
}
@media (max-width: 1099px) {
  .clientsSwiper .clients-slide {
    width: 43% !important;
  }
  .clients__buttons {
    right: 20px;
  }
  .clients__sub-title {
    width: 70%;
  }
}
@media (max-width: 873px) {
  .clients {
    padding-bottom: 300px;
  }
}
@media (max-width: 799px) {
  .clientsSwiper .clients-slide {
    width: 62% !important;
  }
}
@media (max-width: 767.98px) {
  .clients {
    padding-top: 40px;
  }
  .clients__sub-title {
    margin-bottom: 100px;
    width: 100%;
  }
  .clients__buttons {
    top: 120px;
  }
}
@media (max-width: 599px) {
  .clientsSwiper .clients-slide {
    width: 85% !important;
  }
}
@media (max-width: 500px) {
  .clients__buttons {
    top: 150px;
  }
}
@media (max-width: 460px) {
  .clients__buttons {
    top: 220px;
  }
}
.start {
  position: absolute;
  bottom: -600px;
  right: 0;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 90px 30px 65px;
  background-image: url("./../images/start/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 30px;
}
.start__image {
  margin-right: 40px;
}
.start__image.active .start__arrow {
  -webkit-animation: graph 1.5s forwards;
          animation: graph 1.5s forwards;
}
.start__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.start__arrow {
  -webkit-transform: translate(-150px, 100px);
      -ms-transform: translate(-150px, 100px);
          transform: translate(-150px, 100px);
}
@-webkit-keyframes graph {
  0% {
    -webkit-transform: translate(-150px, 100px);
            transform: translate(-150px, 100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes graph {
  0% {
    -webkit-transform: translate(-150px, 100px);
            transform: translate(-150px, 100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.start__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  z-index: 2;
}
.start__text {
  color: #FFF;
  font-size: 60px;
  font-weight: 600;
  line-height: 150%;
}
.start__button {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  height: 70px;
  color: #385CC6;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.start__button:hover {
  color: #1b4bd9;
  background-color: rgb(236, 236, 236);
}

@media (max-width: 1190px) {
  .start {
    bottom: -500px;
  }
  .start__text {
    font-size: 40px;
  }
  .start__image {
    width: 20%;
    height: auto;
  }
}
@media (max-width: 873px) {
  .start {
    bottom: -400px;
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .start__text {
    font-size: 30px;
  }
  .start__button {
    width: 200px;
    height: 60px;
  }
}
@media (max-width: 767.98px) {
  .start {
    bottom: -500px;
  }
  .start__image {
    margin-bottom: 40px;
    margin-right: 0px;
    width: 150px;
  }
  .start__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .start__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 430px) {
  .start {
    bottom: -550px;
  }
}
.footer {
  padding-top: 250px;
  background-color: #0E1011;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}
.footer__logo {
  margin-bottom: 27px;
}
.footer__text {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.footer__nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footer__item {
  margin-bottom: 20px;
  font-weight: 400;
}
.footer__item:first-child {
  margin-bottom: 30px;
}
.footer__item:first-child .footer__link {
  font-size: 38px;
  font-weight: 600;
}
.footer__item:not(:first-child) .footer__link:hover {
  text-decoration: underline;
}
.footer__item .footer__link {
  color: #fff;
}
.footer__image {
  width: 340px;
  height: 100px;
  border-radius: 15px;
}
.footer__image-link {
  display: contents;
}
.footer__sub-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding-bottom: 50px;
}
.footer__designed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

@media (max-width: 1190px) {
  .footer {
    padding-top: 180px;
  }
  .footer__text {
    width: 244px;
  }
  .footer__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100%;
  }
}
@media (max-width: 990px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding-top: 250px;
  }
  .footer__sub-info {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 430px) {
  .footer {
    padding-top: 300px;
  }
  .footer__image, .footer__image-link {
    width: 100%;
    height: auto;
  }
}