.partners {
    &.active {
        .partners__items {
            animation: partners 1s forwards;
        }
    }

    padding-top: 70px;
    padding-bottom: 112px;
    background-color: #F8FAFB;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__items {
        transform: translateX(200%);
        display: flex;
        width: 853px;
        justify-content: space-between;
        column-gap: 10px;
    }

    @keyframes partners {
        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(0);
        }
    }

    &__title {
        font-weight: 700;
        color: #8C94A2;
        font-size: 16px;
    }
}

@media (max-width: 1170px) {
    .partners {
        &__container {
            justify-content: space-between;
            column-gap: 10px;
        }
    }
}

@media (max-width: 960px) {
    .partners {
        &__items {
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }

        &__title {
            width: 40%;
        }
    }
}

@media (max-width: 767.98px) {
    .partners {
        padding-bottom: 60px;

        &__container {
            flex-direction: column;
            row-gap: 30px;
        }

        &__title {
            width: 100%;
        }

        &__items {
            width: 100%;
            gap: 20px;
        }
    }
}