.solutions {
    padding: 100px 0;
    background-color: #F8FAFB;
    &.active {
        .solutions__content {
            animation: soltions-content 1s forwards;
        }
        .solutions__image {
            animation: soltions-image 1s forwards;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
    }
    &__content {
        width: 48%;
        transform: translateX(-200%);
    }
    &__title {
        margin-bottom: 50px;
    }
    &__image {
        width: 526px;
        height: auto;
        transform: translateX(200%);
    }
    &__text {
        font-size: 24px;
        font-weight: 300;
        line-height: 150%;
    }
    @keyframes soltions-content {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes soltions-image {
        0% {
            transform: translateX(200%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

@media (max-width: 1080px) {
    .solutions {
        &__image {
            width: 50%;
        }
        &__title {
            font-size: 40px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 20px;
        }
    }
}

@media (max-width: 767.98px) {
    .solutions {
        padding: 40px 0;
    }
}

@media (max-width: 660px) {
    .solutions {
        &__container {
            flex-direction: column-reverse;
            align-items: flex-start;
            row-gap: 40px;
        }
        &__content {
            width: 100%;
        }
        &__image {
            width: 100%;
        }
    }
}
